@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* font-family: 'Bai Jamjuree', sans-serif; */

:root {
  --prymary-Cyan: hsl(171, 66%, 44%);
  --prymary-Blue: hsl(233, 100%, 69%);
  --neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --neutral-Grayish-Blue: hsl(201, 11%, 66%);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}
figure {
  width: 90%;
  margin: 0 auto;
}

.style__green {
  background: var(--prymary-Cyan);
  border: none;
}

.style__blue {
  background: var(--prymary-Blue);
  border: none;
}

.style__blue:active {
  background: hsl(233, 100%, 80%);
}

.style__green:active {
  background: hsl(171, 66%, 60%);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
